1. 统计每秒流量
cat  xxx.log |  grep "${key_str}" |sed 's/[0-9]*-[0-9]* \([0-9:]*\).*/\1/' | awk '{s[$1]+=1}END{for (i in s) print i,s[i]}' | sort -nk2,2


2. 统计热点key
cat xxx.log | grep -Po "${key_str}"  | awk -F" " '{print $2}' | sort | uniq -c | sort -nk1
